<h1>All Flights:</h1>
<% @flights.each do |f| %>
    <div style="display: flex; gap: 1em;">
        <p> Flight #<%= f.id %> </p>
        <p> Departs: <%= f.start_date %></p>
        <p> From: <%= f.departure_airport.name %> </p>
        <p> To: <%= f.arrival_airport.name %> </p>
        <p> Duration: <%= f.duration %> hours</p>
    </div>
<%end%>